{% extends 'TmsComplaintBundle::layout.html.twig' %}

{% block nav %}
    {% include 'TmsComplaintBundle::nav.html.twig' with {'active' : ['faq', 'questionCategory']} %}
{% endblock %}

{% block main %}

    <h1>{% trans %}Faq question categories list{% endtrans %}</h1>
    <br>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {%if entities is defined %}
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>
                        <ul class="actions">
                            <li>
                                <a href="{{ path('tms_faq_faq-question-category_show', { 'id': entity.id }) }}" class="btn">{% trans %}show{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('tms_faq_faq-question-category_edit', { 'id': entity.id }) }}" class="btn">{% trans %}edit{% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <br><br>
    <ul class="actions">
        <li>
            <a class="btn" href="{{ path('tms_faq_faq-question-category_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
    
    {% endblock %}
