{% extends 'TmsComplaintBundle::layout.html.twig' %}

{% block nav %}
    {% include 'TmsComplaintBundle::nav.html.twig' with {'active' : ['faq', 'question']} %}
{% endblock %}

{% block main %}
    <h1>{% trans %}Faq question category creation{% endtrans %}</h1>

    <form action="{{ path('tms_faq_faq-question-category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn">{% trans %}Create{% endtrans %}</button>
        </p>
    </form>

    <ul class="actions">
        <li>
            <a href="{{ path('tms_faq_faq-question-category') }}" class="btn">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
    </ul>
{% endblock %}
